@font-face {
    font-family: "QuinqueFive";
    src: url("../fonts/QuinqueFive.woff");
    font-display: swap;
    src: local('☺'), 
    url("../fonts/QuinqueFive.woff") format("woff2"),
    url("../fonts/QuinqueFive.ttf") format("truetype");

    font-weight: 400;
    font-style: normal;
}
